<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Home</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="service">Nos Services</a></li>
        <li><a href="contact">Contactez-nous</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="divPrincipal">
      <div>
        <h1>L'univers de L'OR!</h1>
            <p>L'OR, c'est du plaisir à chaque tasse de café. Laissez-vous envoûter par 
             ses arômes intenses et découvrez son goût équilibré aux arômes aussi doux 
             que riches.  Découvrez les standards de qualité de L'OR. Notre équipe de 
             Coffee Artists passionnés du café a créé chacun des mélanges L'OR et vous
             emmène dans l'univers de L'OR..</p>

        <h1>La fabrication</h1>
           <p>Chaque tasse de café L'OR raconte une histoire fascinante de saveurs. 
              De la culture à la torréfaction, explorez l’incroyable aventure que 
              vivent nos grains de café pour ravir vos papilles. La richesse du café 
              L'OR exceptionnel que vous dégustez chez vous est directement liée à la 
              qualité des grains récoltés. Et tout commence par une petite cerise de café.</p>
      </div>
      <div>
        <h1>L'art de choisir son café, par L'OR</h1>
           <p>Pour la famille ou pour soi, court ou allongé, il y a tant de manières 
              de déguster un café L'OR. Tout est question de goût & d'équipement, alors
              suivez le guide. L'OR compose de nombreuses saveurs du café en combinant des 
              grains de types et de goûts différents. Il existe un mélange parfait pour chacun.
              Découvrez celui qui vous convient le mieux.</p>

        <h1>L'art de la dégustation</h1>
           <p>L'OR vous révèle tous les secrets. De la préparation à la dégustation, découvrez
              les secrets L'OR pour un instant café unique. Goûtez et découvrez par vous-même 
              les différentes saveurs de L'OR Espresso. Nous vous proposons un guide complet 
              sur la façon de goûter tous les ingrédients utilisés dans nos mélanges.</p>
      </div>
    </div>
  </main>
</body>
</html>