<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="service">Our Services</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Contact Us</h1>
    <p>You can reach us at info@example.com or by calling (555) 555-5555. We're available Monday to Friday, from 9 to
      17.</p>
  </main>
</body>
</html>