<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Our Services</title>
</head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="service">Nos Services</a></li>
          <li><a href="contact">Contactez-nous</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Our Services</h1>
      <p>We offer a range of services, including web development, graphic design, and digital marketing. Contact us to
        learn more!</p>
    </main>
</body>

</html>